* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", sans-serif;
}

body {
    background-image: url("./image/back.jpg");
}

.container {
    max-width: 815px;
    width: 100%;
    margin: 150px auto;
    border-radius: 30px;
    background-color: #748FB1;
    border: 3px solid #2E4E77;
    padding: 20px;
}

.cabecario {
    text-align: center;
    margin-bottom: 20px;
}
.cabecario h1{
    color: #FFF7E8;
}

.formulario form {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.coluna-entradas {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.entrada {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.entrada h2 {
    color: #FFF7E8;
    margin: 0; 
    width: 120px;
}

.entrada input {
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    width: 200px; 
}

.coluna-botao-imagem {
    display: flex;
    align-items: center; 
    gap: 120px; 
}

button {
    background-color: #59A1A5;
    border-radius: 8px;
    color: #FFF7E8;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #2E4E77;
}

form img {
    width: 150px;
    margin-right: 50px;
}

.tabela {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
    background-color: #FFF7E8;
    border-radius: 30px;
    overflow: hidden;
    border-spacing: 0; 
}

th, td {
    border: 1px solid #2E4E77;
    padding: 10px;
    text-align: left;
}

footer {
    padding: 16px 0;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}